<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Library Index</title>
</head>
<body>
    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <span th:case="${false}">User is not logged in</span>
        <span th:case="${true}">
            <div sec:authorize="hasAnyRole('SUPER_ADMIN', 'ADMIN')">
                <div th:replace="dashboards/adminDashboard"></div>
            </div>
            <div th:unless="${#authorization.expression('hasRole(''SUPER_ADMIN'')')}">
                <div sec:authorize="hasRole('USER')">Has Role USER</div>
            </div>
        </span>
    </div>
</body>
</html>